<h2><%= t('view.forgot.title') %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <br />
  <div><%= f.submit t('view.forgot.send') %></div>
<% end %>

<%= render "links" %>